/* Sets for all */
*{
    margin: 0;
    padding: 0;
}

/* Setting for body */
body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border: black 1px solid;
    border-radius: 12px;
}

/* Setting for input box and others */
.Input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 10px 0px;
}

/* Setting for the button div box */
.button-group1 {
    margin: 5px 0px 10px 0px;
}

/* Setting for all button */
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #999; 
    background-color: #eee;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

/* Setting for Output box and others */
.Output{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 10px 0px;
}

/* Setting for calculation box and others */
.calculation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 10px 0px;
    font-style: italic;
    font-size: 14px;
}

/* Setting for the link */
.link {
    margin: 15px 0px 15px 0px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

/* Setting for bagian formula and others */
.bagian-formula{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Setting for the article div box */
article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Setting responsive */
@media (max-width: 480px) {
    body {
        margin: 10px;
        padding: 8px;
        max-width: 100%;
    }

    section{
        font-size: 12px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }
    
    .button-group2 {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    
    .button-group2 button {
        flex: 1 1 calc(33% - 8px);
        margin: 0;
    }
}
